$line-height: 104px;

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: $line-height;
  padding: 0px 8px;
  text-align: right;
}